body {
    background:#111;
    color:white;
    text-align:center;
    font-family:Arial, sans-serif;
}

h1 {
    margin:10px;
}

canvas {
    display:none;
    margin:auto;
    border:3px solid white;
    background:#333;
}

#menu button {
    font-size:24px;
    margin:5px;
    padding:10px 20px;
    cursor:pointer;
}

.info {
    margin-top:10px;
}

.hidden {
    display:none;
}

#gameOver {
    color:red;
    font-size:22px;
    font-weight:bold;
}
